.login-modal {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
}

.close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 640px){
    .login-modal{
        height: 60%;
        width: 90%;
    }
}