.generic-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.generic-input {
    width: 100%;
    padding: 0 5px;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

.generic-error-message {
    width: 100%;
    color: red;
    text-align: justify;
    font-size: 12px;
}

.generic-submit-button-dark {
    width: 100%;
    margin-top: 8px;
    background: #000000;
    border: none;
    border-radius: 2px;
    color: #ffffff;
}

.generic-submit-button-light {
    width: 100%;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

.pointer {
    cursor: pointer;
}

.loading-fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99;
}

.fc-b {
    color: #000000 !important;
}

.carousel {
    margin: 0 -15px;
}

.carousel-inner {
    width: 100%;
    height: 500px;
}

.front-page-section {
    display: flex;
    width: 100%;
    min-height: 250px;
    text-align: center;
}

.colored-front-page-section {
    background-color: #ededed;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.vertically-centered {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-inner > .carousel-item > img {
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .carousel-inner {
        height: 350px;
    }
    .front-page-section {
        min-height: 350px;
    }
}

@media screen and (max-width: 800px){
    .carousel-inner {
        height: 250px;
    }
    .front-page-section {
        min-height: 350px;
    }
}

@media screen and (max-width: 550px){
    .carousel-inner {
        height: 200px;
    }
    .front-page-section {
        min-height: 350px;
    }
}

@media screen and (max-width: 465px){
    .carousel-inner {
        height: 150px;
    }
    .front-page-section {
        min-height: 350px;
    }
}